.metricas__conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4em 0 5em;
}

.metricas__titulo{
    font-size: 60px;
    font-weight: 600;
    color: var(--cor-vermelho);
}
.metricas__subtitulo{
    font-size: 18px;
    color: var(--cor-cinza-degr);

}
.metricas__texto{
    font-weight: 400;
    color: var(--cor-cinza-texto);
}
.metricas{
    padding: 0 1em;
}